.services {
  padding: 0 100px;
  margin-bottom: 100px;
  text-align: center;
}

.services__main-title {
  margin-bottom: 30px;
}

.services__text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.2em;
  margin-bottom: 50px;
}

.services__card .services__text {
  font-size: 16px;
}

.services__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.services__card {
  max-width: 300px;
  width: 100%;
  min-height: 450px;
  border: 1px solid #d1cdc7;
  border-radius: 20px;
  background-color: #c8a27c;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.services__card:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.services__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: block;
}

.services__text-wrapper {
  padding: 40px 30px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__title {
  font-size: larger;
}

@media (max-width: 1024px) {
  .services {
    padding: 0 50px;
  }
}
